@use 'src/styles/variables.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .child {
        margin: -30px 20px 20px 20px;
        width: 100%;
        display: flex;
        gap: 40px;
        max-width: 1200px;
    }
}

.filter {
    flex: 1;
    
}

.productContainer {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(215px,1fr));
    overflow: auto;
    overflow-x: hidden;
}

.viewMore {
    margin-top: 40px;
}

@media only screen and (max-width: $mobile-devices-size) {
    .container {
        .child {
            margin: -30px 10px 20px 10px;
            flex-direction: column;
        }
    }

    .filter {
        padding: 0 10px;
    }

    .productContainer {
        padding: 0 10px;
    }

    .products {
        gap: 15px;
        row-gap: 15px;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
}