:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  background-image: url('assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

.ant-slider-mark {
  span:first-child {
    left: 8% !important;
  }
  span:last-child {
    left: 92% !important;
  }
}

.ant-slider-mark-text {
  width: 60px;
}

.ant-btn {
  color:  #FFF;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  border-radius: 4px;
  background:  linear-gradient(91deg, #DA458F -6%, #DA34DD 113.05%);
  box-shadow: 0px 0px 50px 0px rgba(187, 75, 255, 0.32);
}

.ant-btn:hover {
  color: #FFF !important;
  border-color: transparent !important;
  background:  linear-gradient(91deg, #d51675 -6%, #d80cdb 113.05%) !important;
  box-shadow: 0px 0px 50px 0px rgba(187, 75, 255, 0.32) !important;
}

.ant-slider-track {
  background: linear-gradient(#DA41A2 24.03%, #DA37CE 83.19%);
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #DA37CE;
}